.App {
  text-align: center;
}

.content {
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  /* width: 500px; */

  /* padding: 22px 122px 10px 122px; */
}

.lang {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Projects {
  display: flex;
  flex-direction: row;
  /* margin-left: auto; */
  /* margin: auto; */

  /* justify-content: space-between; */
  gap: 10px;
  /* border: 1px solid black; */
  /* padding: 10px 15px 10px 11px; */
  margin-right: 22px;
  margin-left: 22px;
}

.Projects .project {
  width: 275px;
  height: 365px;
  border: 2px solid black;
  /* border-radius: 7px; */
}

.RepoImage {
  /* border-radius: 7px; */
  border: 2px solid rgba(0, 0, 0, 0.185);
  margin-right: 10px;
  width: 270px;
  height: 300px;
}
