.App {
  text-align: center;
}

.content {
  text-align: center;
  margin-left: 25px;
}

.lang {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.MainProjects {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin: auto;

  justify-content: space-between;

  padding: 10px;
}
